@import "../../../scss/generic/variables";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px auto 25px;

  .input {
    border: none;
    outline: none;
    padding: 0.2rem 1rem;
    border-radius: 15px;
    background: $grey;
    color: $white;
    font-family: inherit;
    font-size: 105%;
    margin-right: 10px;
    min-height: 40px;

    &:hover {
      box-shadow: 2px 2px 5px rgba($black,0.7);
    }
  }

  .icon-wrapper {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background: $grey;
    color: $white;
    border: none;
    outline: none;
    transition: background 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      background: lighten($grey, 5%);
      cursor: pointer;
      box-shadow: 2px 2px 5px rgba($black,0.7);
    }
  }

}
