@import "../../../scss/generic/variables";

.day {
  padding: 0.3rem;
  border-radius: 1rem;
  flex-direction: column;
  text-align: center;
  background-color: $grey;
  transition: background-color 300ms ease;

  &:not(:last-of-type) {
    margin-right: .5rem;
  }

  &.active, &:hover {
    background-color: $smoked-white;
    color: $grey;
    border-radius: 1rem;
    cursor: pointer;

    .icon {
      filter: invert(1);
    }
  }

  &:hover {
    .icon {
      filter: invert(1);
    }
  }
}
